<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%= play[:title] %></title>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
</head>
<body>
  <header>
  <h1><%= play[:title] %></h1>
  </header>
<%- play[:acts].each_with_index do |act, act_idx| %>
<section>
<h2><%= act[:title] %></h2>
<%- act[:scenes].each_with_index do |scene, scene_idx| -%>
<%- line_index = 0 %>
<section>
<h3><%= scene[:title] %> </h3>
<%-     for part in scene[:parts] -%>
<%-       if part[:stagedir] -%>
<aside><%= part[:stagedir] %></aside>
<%-           line_index += 1 %>
<%-       else -%>

<%-         for speaker in part[:speakers] -%>
<blockquote>
<cite><%= speaker %></cite>&mdash;<br>
<%-           line_index += 1 %>
<%-         end -%>
<%-         for l in part[:lines] -%>
<%-           line_index += 1 %>
<span id="<%= act_idx %>-<%= scene_idx %>-<%= line_index %>" title="Act <%= act_idx + 1 %>, Scene <%= scene_idx + 1 %>, Line <%= line_index %>.">
<%-           if l[:type] == :stagedir -%>
<aside class="<%= l[:type] %>"><%= l[:text].strip %></aside><br />
<%-           else -%>
<%-             for n in l[:lines] -%>
<%-               if n[:type] == :parenthetical -%>
<aside class="parenthetical"><%= n[:text].strip %></aside>
<%-               else -%>
<%= n[:text].strip %>
<%-               end -%>
<%-             end -%>
<%-             if line_index % 5 == 0 %>
  <a class="line" href="#<%= act_idx %>-<%= scene_idx %>-<%= line_index %>"><%= line_index %></a>
<%-             end %>
<%-           end -%></span><br>
<%-         end -%></blockquote>


<%-       end -%>
<%-     end -%>
</section>
<%-   end -%> 
</section>
<%- end -%>
</body>
</html>
